@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    --font: "Source Sans Pro",  sans-serif;
}

body {
    font-family: var(--font) !important;
    padding-bottom: 20px;
}


h1, h2, h3, h4, h5, h6 {
    font-family: var(--font) !important;
}

.title {
    font-family: var(--font) !important;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
